<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label>Twoje imie</label>
<h1>tu napisać coś żeby w tabeli był user i hasło do podania</h1>

<form action="/result" method ="get">
<label>Podaj Imię</label>
<input type=text" name="firstName">
<br>
<br>
<label>Podaj Nazwisko</label>
<input type=text name ="lastName"> <!to nam mówi pod jaką postacią dane są wysyłane na serwer>
<input type="submit" value="pokaż"> <!to jest komentarz>
<br>
</form>
</body>
</html>